*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#38bdf8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:16px;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

/* Hero Section */

.hero{
    min-height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:60px 20px;
}

.hero-content{
    max-width:800px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:15px;
}

.hero h2{
    font-size:1.6rem;
    margin-bottom:20px;
    color:#cbd5e1;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    font-size:1.1rem;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:#000;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

/* Sections */

section{
    padding:80px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
    font-size:2.2rem;
    color:#38bdf8;
}

/* Cards */

.card,
.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    margin-bottom:20px;
}

/* Skills */

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.skill{
    background:#1e293b;
    padding:18px;
    text-align:center;
    border-radius:10px;
    transition:.3s;
}

.skill:hover{
    transform:translateY(-5px);
}

/* Contact */

.contact-box{
    text-align:center;
}

.contact-box p{
    margin:15px 0;
    font-size:18px;
}

/* Footer */

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}

/* Responsive */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2.5rem;
    }

    .hero h2{
        font-size:1.2rem;
    }

    section{
        padding:60px 5%;
    }
}